body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    text-transform: capitalize;
    line-height: 60px;
}
h3{
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    text-transform: capitalize;
    line-height: 32 px;
}
h5{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 25px;
}
p{
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 25px;
    margin-bottom: 35px;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.intro{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.intro-left{
    width: 60%;
    padding-right: 100px;

}

.btn{
    padding: 8px 30px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, red, orange);
}
.btn:hover{
    
    background-image: linear-gradient(to right, orange, red);
    padding: 8px 35px;
}
.intro-right{
    width: 40%;
    text-align: right;
}
.color-text{
    color: orange;
}

.owner-section-bg{
    background-image: url(images/shapes/Bg-Home-Section-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.owner{
    display: flex;
}
.owner-left{
    width: 50%;
}
.owner-right{
    width: 50%;
    padding: 15% 2% 15% 8%;
}
.recipies{
    display: flex;
}
.recipie-intro{
    padding: 2% 25%;
}   
.recipie-item{
    width: 30%;
    margin: 20px;
    padding: 15px;
    box-shadow: 2px 2px 15px black;
    text-align: center;
    border-radius: 15px;
}
.recipie-item img{
    border-radius: 15px;
}
.social-presence{
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000004a;
    margin: 100px 0px;
    padding: 0% 5%;
    justify-content: center;

}
.social-presence-item{
    width: 30%;
}
.social-presence-item h1{
    margin-bottom: -20px;
    text-align: center;
}
.social-presence-item h5{
    text-align: center;
}

.footer-section{
    background-color: black;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer h3{
    color: white;
    text-align: center;
}
.footer h5{
    color: white;
    text-align: center;
    margin-top: -20px;

}